<!DOCTYPE html>

<html>

<head>
    <link rel="icon" href="../static/assets/favicon.png" type="image/png" sizes="32x32">
    <title>
        Choose Your Books | Author's Attic
    </title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/index.css">
</head>

<body>

    <img id="loader" class="center" src="../static/assets/favicon.png" />

    <div class="video-container">
        <video loop muted autoplay>
            <source src="../static/assets/Dictionary - 21941.mp4" type="video/mp4">
        </video>
    </div>
    <div class="story">
        <div id="story-div">
          <h1 align="center"> Author's Attic </h1 ><br><br>
            <h3>

              We here, at Author's attic aim to satisfy your thirst for knowledge with our world-class editions of secondhand <br><br> books at the most affordable prices ever, to help quench your constant need for growth and understanding... <br><br>With books that range across all genres and types, we assure you that you will be satisfied with our wide  <br><br>range. We buy your books at low costs and sell it at even lower prices to help economically backward students <br><br> attain their goal.
            </h3>

        </div>
        <div><button class="button" href="/books" id="zoom"><h3>Read</h3></button></div>
    </div>

    <script src="../static/js/index.js" defer></script>
</body>


</html>
